*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/src/main/java/com/example/movie_tv/data/ApiTMDB.kt
.externalNativeBuild
.cxx
gradle.properties
local.properties
