<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movie_tv">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tv"
        android:label="TV Show Watch Tracker"
        android:roundIcon="@drawable/tv"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOVIETV">
        <activity android:name=".MovieTabs"></activity>
        <activity android:name=".MyList" />
        <activity android:name=".AddMovie" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>